name: Deploy documentation to the ss3 website

on:
  push:
    branches: [main]
    paths:
      - '**.tex'
      - '**.Rmd'
      - 'docs/**'
      - 'html_usermanual_snippets.html'
  workflow_dispatch:

jobs:
  build-html:
    runs-on: ubuntu-latest
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
      - name: setup pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
            pandoc-version: '2.14.0.3'

      - uses: r-lib/actions/setup-tinytex@v2

      - name: Install rmarkdown
        run: install.packages("rmarkdown")
        shell: Rscript {0}

      - name: render the rmd files
        run: |
          rmarkdown::render("User_Guides/ss3_model_tips/ss3_model_tips.Rmd", output_format = c("html_document", "pdf_document"), output_dir = "docs")
          rmarkdown::render("User_Guides/getting_started/Getting_Started_SS3.Rmd", output_format = c("html_document", "pdf_document"), output_dir = "docs")
        shell: Rscript {0}

      - name: Deploy to GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages
          folder: docs/
