name: Pre-release

on:
  workflow_dispatch:

jobs:
  prerelease:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"

    steps:
      - name: Setup Git repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Update Ubuntu packages
        run: sudo apt-get update
        
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install rmarkdown
        run: install.packages("rmarkdown")
        shell: Rscript {0}

      - name: Application Version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: "v"
          version_format: "v${major}.${minor}.${patch}-prerel"
          bump_each_commit: false

      - name: Create version.txt
        run: |
          echo ${{ steps.version.outputs.version }} > version.txt

      - name: Update version and date in manual
        run: |
          version <- readLines("version.txt", encoding = "UTF-8")
          version <- gsub("v", "", version)
          manual_tex <- readLines("SS330_User_Manual.tex")
          vers_vec <- "[0-9]+\\.[0-9]+\\.[0-9]+(\\.[0-9]+)?(-[A-Za-z0-9]+)?"
          manual_tex[grep("Version", manual_tex)] <- gsub(
            pattern = vers_vec,
            replacement = version,
            x = manual_tex[grep(pattern = "Version", x = manual_tex)]
          )
          date_line <- grep(pattern = "date\\{", x = manual_tex)
          todays_date <- format(x = Sys.Date(), "%B %d, %Y")
          manual_tex[date_line] <- gsub(
            pattern = "\\{[A-Za-z0-9, ]+",
            replacement = paste0("{", todays_date),
            x = manual_tex[date_line])
          writeLines(text = manual_tex, con = "SS330_User_Manual.tex")
        shell: Rscript {0}    
        
      - name: Remove version.txt before committing
        run: rm version.txt
        
      - name: Convert tex to html
        run: pandoc SS330_User_Manual.tex -s -o SS330_User_Manual.html --toc --embed-resources --standalone --mathjax --default-image-extension=png --number-sections --citeproc --variable linkcolor=#0033CC

      - name: Run R script to create html
        run: |
          source(".github/r_code/edit_html_improve_formatting.R")
          writeLines(html_txt, "docs/SS330_User_Manual_release.html")
          file.remove("SS330_User_Manual.html")
        shell: Rscript {0}  
        
      - name: Commit changes of tex file version and html in docs folder to repo
        uses: EndBug/add-and-commit@v9
        with: 
          message: 'update tex file version and html in docs'

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: SS330_User_Manual.tex
          latexmk_use_lualatex: true

      - name: Create Pre-Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.version.outputs.version }}
          release_name: ${{ steps.version.outputs.version }} Pre-Release Docs
          draft: false
          prerelease: true
          body: SS3 User Manual for the ${{ steps.version.outputs.version }} Stock Synthesis pre-release.

      - name: Upload release artifact - pdf manual
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./SS330_User_Manual.pdf
          asset_name: SS330_User_Manual.pdf
          asset_content_type: application/pdf

      - name: Deploy to GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: docs/